body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  border: solid 2px;
  height: 200px;
 ;
}
h1{
  padding-bottom: 40px;
}
input {
  width: 50%;
 height: 60px;
 margin-top: 50px;
}
button {
  margin-top: 100px;
 
}